.blog-post-layout {
    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        
        .content {
            max-width: 680px;
            margin-top: 3rem;
            h1 {
                font-size: 2.2rem !important;
            }
            
            p {
                font-weight: normal;
                color: rgba(19, 39, 67, 0.9) !important;
            }

            li {
                font-weight: normal;
                font-size: 1rem;
                margin-bottom: .3rem;
                margin-left: 1rem;
                color: rgba(19, 39, 67, 0.9) !important;
            }
            a {
                text-decoration: underline;
                color: inherit
            }

            @media (max-width: 1250px) {
                font-size: 2rem
            }

            h2 {
                font-size: 30px !important;
            }

            @media (max-width: 680px) {
                width: 90%;
            }
        }
    }
}

