@import "../../styles/variables";

.ear-training-screen {
  padding-bottom: 1rem;
  
	.screen-header-container {
		padding-bottom: 7rem;
  }
  
	* {
		z-index: 1;
	}
	.lessons-container {
		margin: 1rem 1rem 0 0rem;
		display: flex;
		flex: 1;
	}
}