@import "../../styles/variables";

.ear-training-screen {
  padding-bottom: 1rem;
  
	.screen-header-container {
		padding-bottom: 7rem;
  }
  
	* {
		z-index: 1;
	}
	.lessons-container {
		margin: 1rem auto 0;
		display: flex;
		flex: 1;
		max-width: 500px;
		width: 100%;
	}
}