// palette
$primary: #ff8c8c;
$secondary: #132743;
$accent-one: #407088;
$accent-two: #ffcbcb;
$red: #e94c74;
$green: #00D9CD;
$turqoise: #309fa2;
$yellow: #FFB902;
$blue-text: #344356;

// black/grays
$gray-1: #525252;
$light-gray: #AAAAAA;
$blue-gray: #F3F5F9;
$black: #040517;

$font-size-1: 14px;
$font-size-2: 1rem;
$font-size-3: 1.5rem;
$font-size-4: 2rem;
$font-size-5: 2.5rem;
$font-size-6: 64px;
