.welcome-slide {
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    padding-top: 7rem;
    @media (max-height: 667px) {
      padding-top: 5rem
    }

    @media (max-width: 320px) {
      padding-top: 2rem !important
    }

    img {
      width: 60%;
    }
  }

  p {
    text-align: center;
    width: 85%;
    margin: 0 auto
  }
}