.block-container {
    padding: 0 1.5rem;

  .block {
    box-shadow: 0px 12px 19px rgba(60, 128, 209, 0.0851449);
    border-radius: 15px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    margin-bottom: 1rem;

    p {
      font-size: 1.15rem;
      @media (max-width: 370px) {
        font-size: 1rem;
      }
    }
  }
}