@import "../../styles/variables.scss";

.piano-roll {
  display: inline-flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #484848;
  border-top: 5px solid #c6c6c6;
  opacity: 1;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  .key {
      &.highlighted {
          background: #FFB902 !important;

          span {
              color: #222;
              font-weight: bold;
          }
      }
  }

  &.presentational:active {
    .black-key-container { 
      .key {
        &:active {
          background: #444;
          border: 3px solid #444;
        }
      }
    }

    .key {
      &:active {
        background: #fff;
        .note-text {
          color: #999;
        }
      }
    }
  }

  
  .black-key-container {
    .key {
      transition: background 0.01s, border 0.01s;
      &.disabled {
        &:active {
          background: #666;
          border: 3px solid #666;
          color: #fff;
        }
      }

      &.correct {
        &:active {
          background: $green;
          color: #fff;
        }
      }

      &.highlight-red {
        background: $red;
        color: #fff
      }

      &.highlight-green {
        background: $green;
        color: #fff
      }
    }
  }

  .key {
    transition: background 0.01s, border 0.01s;

    &.disabled {
      &:active {
        background: #fff;
        color: #999;
      }
    }

    &.correct {
      &:active {
        background: $green;
        color: #fff;
      }
    }


      &.highlight-red {
        background: $red;
        color: #fff
      }

      &.highlight-green {
        background: $green;
        color: #fff
      }
  }

  &:after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: rgba(68,68,68,.1);
    position: absolute;
    top: 0;
  }

  .white-key {
    display: flex;
    flex: 1;
    background: #fafafa;
    margin: 0 1px;
    height: 100%;
    border-radius: 0 0 3px 3px;
    border: none;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    color: #444;
    justify-content: center;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .black-key-container {
    position: relative;
    width: 0;
    .black-key {
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      cursor: pointer;
      background: #222;
      width: 40px;

      @media (max-width: 320px){
        width: 37px;
      }
      
      height: 70%;
      border-radius: 0 0 3px 3px;
      border: 3px solid #222;
      border-top: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px;
      outline: none;
      color: #fafafa;
    }
  }

  .note-text {
    pointer-events: none;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Inter var', sans-serif;
  }
}