@import "../../styles/variables.scss";

.player-block {

    .block-container {
        padding: 0;
    }
  .block {
    display: inline-flex;
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.17);
    padding-top: 0;
    min-height: 4rem;
    max-width: 100%;

    @media (max-width: $mobile) {
        width: 100%;
    }

    .paragraph {
        margin-bottom: 0;
    }
    p {
      display: flex;
      align-items: center;
        font-size: 1.15rem !important;
        margin: 0;
        /* font-weight: bold !important; */
        opacity: 1;

      svg {
          padding-right: 1rem;  
      }
    }

  }
}