.md-styles {
  h2 {
        margin-bottom: 0;
        margin-top: 1rem;
        width: 80%;
        font-size: 24px !important;
        color: #040517 !important;
        font-weight: normal !important;
        line-height: 19px;
        letter-spacing: .15px;
    }

     h3 {
        margin-top: .8rem;
        font-size: 16px !important;
        margin-bottom: 0;
        opacity: .5;
        font-weight: normal;
        color: #040517 !important;
        margin-bottom: 2rem;
        line-height: 25px;
    }

    p {
        font-weight: normal !important;
        font-size: 32px !important;
        color: #040517 !important;

    }
    
}
  