$margin-sides: 6rem;
$margin-sides-tablet: 2.5rem;
$margin-sides-mobile-small: 1rem;
$header-height: 5rem;
$blue-gray: #F3F5F9;
$primary: #FFB5B5;
$green: #00D9CD;
$yellow: #FFB902;
$secondary: #407088;

$tablet-large: 1200px;
$tablet: 1024px;
$mobile: 755px;
$mobile-small: 420px;
