.loading-spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  &.white div {
    background: #fff
  }
}
.loading-spinner div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #222;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-spinner div:nth-child(1) {
  left: 6px;
  animation: loading-spinner1 0.6s infinite;
}
.loading-spinner div:nth-child(2) {
  left: 6px;
  animation: loading-spinner2 0.6s infinite;
}
.loading-spinner div:nth-child(3) {
  left: 26px;
  animation: loading-spinner2 0.6s infinite;
}
.loading-spinner div:nth-child(4) {
  left: 45px;
  animation: loading-spinner3 0.6s infinite;
}
@keyframes loading-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}