.custom-exercise-screen {
  padding-bottom: 1rem;
  padding-bottom: 4rem;
  
	.screen-header-container {
		padding-bottom: 7rem;
  }
  
	.lessons-container {
		margin: 1rem auto 0;
		display: flex;
    flex: 1;
    max-width: 500px;
    width: 100%;
    z-index: 999;
    
    .lesson-card {
      margin-bottom: 1rem;
    }
	} 
  .create-exercise-button {
    box-shadow: 0px 4px 1px rgba(0, 217, 205, 0.25);
    border-radius: 15px;
    width: 15%;
    flex: unset;
    height: 3rem;

    .text-container {
      p {
        font-size: 2rem;
      }
    }
  }
}