.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13px;
  border-radius: 10.5px;

  p {
    font-size: 8px;
    padding: 0 .5rem;
    color: #fff;
    font-weight: bold;
  }
}