.md-sub-header-h2 {
    margin-bottom: 0;
    margin-top: 1rem;
    width: 80%;
    font-size: 24px !important;
    color: #040517 !important;
    font-weight: normal !important;
    line-height: 19px;
    letter-spacing: .15px;
}

.md-sub-header-h3 {
    font-size: 16px !important;
    margin-bottom: 1rem;
    margin-top: .8rem;
    opacity: .6;
    font-weight: normal;
    color: #040517 !important;
    line-height: 25px;
}
