@import "../../styles/variables.scss";

.section {
    padding: 0 $margin-sides;
    padding-top: 3.5rem;
    @media (max-width: $tablet-large)  {
        padding: 0 $margin-sides-tablet;
            padding-top: 2.5rem;

    }

    @media (max-width: $mobile-small)  {
       padding: 0 $margin-sides-mobile-small;
           padding-top: 2.5rem;

    }

    padding-bottom: 5rem;

    h2 {
        margin-bottom: 1.5rem;
    }
}