.alias-overline {
    display: flex;
    
    .alias-p {
        font-size: 15px !important;
        margin-bottom: 0;
        color: rgba(4, 5, 23, 0.6) !important;
    }

    a {
        font-size: 15px;
        color: rgba(4, 5, 23, 0.6);

        margin-left: .3rem;
        text-decoration: underline;
        height: 3rem;
        &:first-of-type {
            margin-left: 0;
        }
    }
    
        .social-links {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        a {
            padding-right: .5rem;
        }
        img {
            width: 1.5rem;
            opacity: .8;
        }
    }
}